<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
<meta name="description" content="A sequence diagram editor."/> 
<link rel="stylesheet" href="css/styles.css">

<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/go/go.js"></script>

<!-- Copyright 1998-2023 by Northwoods Software Corporation. -->
<title>Vista Diagrama</title>
</head>

<body>
    <%- include('../components/diagrama/nav') %>
   
<div class="container">
    <div id="myDiagramDiv" class="diagram"></div>
</div>

    
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/diagram/diagram.js"></script>

</body>
</html>