<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <h2 class="text-light"><%= project[0].name %></h2>
        <a href="/dashboard" class="btn btn-danger">Salir</a>
    </div>
</nav>