<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Login</title>


    

    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

    
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <style>
      body{
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: rgba(255,255,255,0.95);
      }
    </style>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-12 shadow-lg p-3 mb-5">
                <div class="card border-primary">
                    <div class="card-header bg-primary text-white">Registrate</div>
                    <div class="card-body text-primary">
                        <form  action="/register" method="POST">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre</label>
                                <input type="text" name="name" id="name" class ="form-control"placeholder="Nombres">
                            </div>
                            <div class="mb-3">
                                <label for="last-name" class="form-label">Apellidos</label>
                                <input type="text" name="lastName" id="lastName" class ="form-control"placeholder="Apellidos">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" name="email" id="email" class ="form-control"placeholder="Email">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" name="password" id="password" class ="form-control"placeholder="Contraseña">
                            </div>
                            <div class="card-footer bg-transparent border-primary">
                                <a href="/" type="button" class="btn btn-secondary">Cancelar</a>
                                <button type="submit" class="btn btn-primary">Registrar </button>
                            </div>
                            <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p> -->
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
  </body>
</html>
