<%- include('layouts/layout') %>

<h2>SALAS</h2>
  <div class="container">
    <%- include('components/salas/form') %>
    <%- include('components/salas/tabla') %>

  </div>
<%- include('components/scripts') %>
